<!DOCTYPE html>
<html lang="en">

    <!-- <%- include('../partials/head') %>  -->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YoTeMudo Carga de Producto</title>
    <!-- Fuentes de Google-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap" rel="stylesheet">

    <!--    Font awesome  -->
    <script src="https://kit.fontawesome.com/29db22af69.js" crossorigin="anonymous"></script>

    <!-- Enlace con CCS-->
    <link rel="stylesheet" href="/css/indexNormalize.css">
    <link rel="stylesheet" href="/css/carga-edicion.css">
</head>

    <body>

        <%- include('../partials/header') %> 
        <main>
            <div class="content">
                <h2 class="logo">Edición de Pack<span class="logo2"> <%=productoEncontrado.numeroDePack%> </span></h2>
            <div class="formulario_entero">
                <div class="formulario_de_carga_edicion">
                    <h1> Datos del Servicio </h1>
                    
                    <form name="edicionProducto" method="POST" action="/products/edicionProducto/<%=productoEncontrado.id%>?_method=PUT" method="POST" enctype="multipart/form-data">
                        <p>
                            <label for="numeroDePack">N° de Pack</label>
                            <input type="text" name="numeroDePack" required placeholder="<%=productoEncontrado.numeroDePack%>">
                        </p>
                        <p>
                            <label for="radio">Radio en Km</label>
                            <input type="text" name="radio" placeholder="<%=productoEncontrado.radio%>">
                        </p>
                        <p>
                            <label for="precio">Costo</label>
                            <input type="text" name="precio" placeholder="<%=productoEncontrado.precio%>" >
                        </p>
                        <p>
                            <label for="superficie">Medidas</label>
                            <input type="texto" name="superficie" placeholder="<%=productoEncontrado.superficie%>">
                        </p>
                        <p>
                            <label for="imagenProducto" class="form-label">Imagen</label>
						    <input type="file" name="imagenProducto" />
                        </p>
                        
                            <button type="submit">ENVIAR</button>
                        </p>
                        
                    </form>
                </div>
                <div class="formulario_de_info">
                    <div class="packUnitario">
                        <img src="/img/camiones/<%=productoEncontrado.imagen%>" alt="Camion Mudanza 1" class="imagenCamion">
                        <h3>Pack N°<%=productoEncontrado.numeroDePack%></h3>
                        <span>Radio <%=productoEncontrado.radio%>km </span> <br>
                        <span><%=productoEncontrado.superficie%> Mts2 </span> <br>
                        <span>$<%=productoEncontrado.precio%></span> <br>
                        <span>Medidas </span> <br>
                        <span><a href="/carrito"><img src="/img/carrito1.png" alt="" class="btn-precio "></a></span>
                    </div>
                </div>
            </div>
        </main>
        
    <%- include('../partials/footer') %> 

</body>
</html>